{layout name="layout" /}

<div class="centerwrap">
	<div class="topnews_wrap">
    	<div class="topnews_img"><!--幻灯片新闻开始-->
           <div id="KinSlideshow" style="visibility:hidden;">

        <a href="./xwzx/tpxw/201611/t20161111_354282.html" target="_blank"><img src="./xwzx/tpxw/201611/W020161111591952361766.jpg" alt="2016（首届）中国隐私保护学术会议在京圆满召开" title="2016（首届）中国隐私保护学术会议在京圆满召开" width="435" height="257" border="0" /></a>

        <a href="./xwzx/tpxw/201611/t20161110_354009.html" target="_blank"><img src="./xwzx/tpxw/201611/W020161110369899425691.jpg" alt="第十二届信息安全与密码学国际会议在京召开" title="第十二届信息安全与密码学国际会议在京召开" width="435" height="257" border="0" /></a>

        <a href="./xwzx/tpxw/201611/t20161108_353636.html" target="_blank"><img src="./xwzx/tpxw/201611/W020161108523905275667.jpg" alt="第十四届理论密码学会议在京召开" title="第十四届理论密码学会议在京召开" width="435" height="257" border="0" /></a>

        <a href="./xwzx/tpxw/201609/t20160922_348840.html" target="_blank"><img src="./xwzx/tpxw/201609/W020160922414509753538.jpg" alt="信息安全国家重点实验室成功举办第十五届国..." title="信息安全国家重点实验室成功举办第十五届国际数字取证和数字水印会议" width="435" height="257" border="0" /></a>

        <a href="./xwzx/tpxw/201609/t20160902_346966.html" target="_blank"><img src="./xwzx/tpxw/201609/W020160902367869930079.jpg" alt="信息安全国家重点实验室举办第三届中韩编码..." title="信息安全国家重点实验室举办第三届中韩编码理论及相关领域国际会议" width="435" height="257" border="0" /></a>

            </div>
          <!--幻灯片新闻结束--></div>

        <div class="topnews">
        	<div class="news_title margin10"><a href='./xwzx/tpxw/'>更多&gt;&gt;</a>焦点新闻 </div>
            <ul class="news_list">
            {if($all)}
              {foreach $all as $item)}
            	<li><span>{$item->create_time}</span><a href="{:url('/read/'.$item->id)}">{$item->post_title}</a></li>
              {/foreach}
            {/if}
            </ul>
        </div>

        <div class="clear"></div>
    </div>
	<div class="center1000">
        <div class="leftwrap">
       	  <div class="lefttitle">实验室概况</div>
          <table width="100%" border="0" cellspacing="1" cellpadding="1" class="jg_list margin10">
              <tr>
                <td><a href="{:url('/sys/jianjie')}">实验室简介</a></td>
                <td><a href="{:url('/sys/zhuzhi')}">组织架构</a></td>
              </tr>
              <tr>
                <td><a href="{:url('/sys/lingdao')}">现任领导</a></td>
                <td><a href="{:url('/sys/xueshu')}">学术委员会</a></td>
              </tr>
              <tr>
                <td><a href="{:url('/sys/fangxiang')}">研究方向</a></td>
                <td><a href="{:url('/sys/mianmao')}">实验室风貌</a></td>
              </tr>
            </table>

      </div>
        <div class="cenwrap">
        	<div class="news_title margin10"><a href="{:url('/xwzx/index')}">更多&gt;&gt;</a>综合新闻 </div>
          <ul class="news_list margin20">
						{if($zhxw)}
							{foreach $zhxw as $item)}
							<li><span>{$item->create_time}</span><a href="{:url('/read/'.$item->id)}">{$item->post_title}</a></li>
							{/foreach}
						{/if}
            </ul>
            <div class="news_title margin10"><a href="{:url('/xwzx/kydt')}">更多&gt;&gt;</a>科研动态 </div>
          <ul class="news_list">
						{if($kydt)}
							{foreach $kydt as $item)}
							<li><span>{$item->create_time}</span><a href="{:url('/read/'.$item->id)}">{$item->post_title}</a></li>
							{/foreach}
						{/if}
          </ul>
      </div>
        <div class="rightwrap">
       	  <div class="lefttitle"><a href="{:url('/xwzx/tzgg')}">更多&gt;&gt;</a>通知公告</div>
            <div class="sidewrap margin10">
                <ul class="sidelist">
									{if($tzgg)}
										{foreach $tzgg as $item)}
										<li><span>{$item->create_time}</span><a href="{:url('/read/'.$item->id)}">{$item->post_title}</a></li>
										{/foreach}
									{/if}
                </ul>
            </div>
      </div>
        <div class="clear"></div>
    </div>
</div>
