<div class="bottomwrap">
	<table width="1000" border="0" cellspacing="1" cellpadding="1" style="margin:0 auto;">
      <tr>
        <td width="300" align="center"><a href="http://www.cas.cn" target="_blank"><img src="http://www.sklois.cn/images/caslogo.jpg" width="243" height="74" /></a></td>
        <td width="30" align="center"><img src="http://www.sklois.cn/images/bottomline.gif" /></td>
        <td class="copyright"><span style="font-family:Arial">&copy;</span>广西密码学与信息安全重点实验室<br />
          电话：010-82546611 传真：010-82546564<br />
        地址：广西桂林电子科技大学花江校区 </td>
      </tr>
    </table>

</div>
</body>
</html>
