<div class="topwrap">
	<div class="banner"></div>
    <div class="menuwrap">
			<a href="{:url('/index')}" target="_top">首页</a>

			<a href="{:url('/sys/index')}" target="_top">实验室概况</a>

			<a href="{:url('/xwzx/index')}" target="_top">新闻中心</a>

			<a href="{:url('/kycg/index')}" target="_top">科研成果</a>

			<a href="{:url('/rcdw/index')}" target="_top">人才队伍</a>

			<a href="{:url('/kfjl/index')}" target="_top">开放交流</a>

			<a href="{:url('/yjs/index')}" target="_top">研究生教育</a>

			<a href="{:url('/lx/index')}" target="_top">联系我们
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
    </div>
</div>
