{foreach name="data.edit_fields" item="field" key="key" }
  {switch name=$field['type'] }
    {case value="text"}
      {if isset($field['extra']['wrapper'])}
        <div class="<?php echo $field['extra']['wrapper'];?>">
      {else/}
        <div class="col-sm-9 col-md-9">
      {/if}
          <div class="form-group">
            <input type="{$field['type']}"
                        {if isset($field['id']) AND $field['id']}id="{$field['id']}"{/if}
                        {if isset($field['disabled']) AND $field['disabled']}disabled="disabled"{/if}
                        class="form-control {if isset($field['class']) AND $field['class']}{$field['class']}{/if}"
                        {if isset($field['extra']['data']['format']) }data-format="{$field['extra']['data']['format']}"{/if}
                        name="{$key}" placeholder="{if isset($field['placeholder']) AND $field['placeholder']}{$field['placeholder']}{/if}">

                    {if isset($field['notes']) AND $field['notes']}<p class="help-block">{$field['notes']}</p>{/if}
          </div>
    </div>
    {/case}
    {case value="textarea"}
      {if isset($field['extra']['wrapper'])}
        <div class="<?php echo $field['extra']['wrapper'];?>">
      {else/}
        <div class="col-sm-9 col-md-9">
      {/if}
          <div class="form-group">
            <textarea
              class="form-control {if isset($field['class']) AND $field['class']}{$field['class']}{/if}"
              {if isset($field['id']) AND $field['id']}id="{$field['id']}"{/if}
              name="{$key}"
              {if isset($field['disabled']) AND $field['disabled']}disabled="disabled"{/if}>{if isset($item[$key]) AND $item[$key]}{$item[$key]}{/if}</textarea>
              {if(isset($data.ckeditor) and $data.ckeditor)}{:display_ckeditor($data.ckeditor);}{/if}
              {if isset($field['notes']) AND $field['notes']}<p class="help-block">{$field['notes']}</p>{/if}
          </div>
    </div>
    {/case}
    {case value="select"}
      {if isset($field['extra']['wrapper'])}
        <div class="<?php echo $field['extra']['wrapper'];?>">
          <div class="panel panel-default">
            <div class="panel-heading">发布</div>
            <div class="panel-body">
      {else/}
        <div class="col-sm-9 col-md-9">
        </div>
        <div class="col-sm-3 col-md-3">
          <div class="panel panel-default">
            <div class="panel-heading">发布</div>
            <div class="panel-body">
      {/if}
              <div class="form-group">
                {if isset($field['label']) AND $field['label']}<label>{$field['label']}</label>{/if}

                <select  name="{$key}"
                {if isset($field['id']) AND $field['id']}id="{$field['id']}"{/if}
                {if isset($field['disabled']) AND $field['disabled']}disabled="disabled"{/if}
                class="form-control" style="max-width: 300px;">

                {foreach $field['default'] as $ov => $ol }
                <option value="{$ov}" {if isset($item[$key]) AND $item[$key] == $ol}selected="selected"{/if}>{$ol}</option>
                {/foreach}
                </select>

                {if isset($field['notes']) AND $field['notes']}<p class="help-block">{$field['notes']}</p>{/if}
              </div>
    {/case}
    {case value="radio"}
      <div class="form-group">
        {if isset($field['label']) AND $field['label']}<label>{$field['label']}</label>{/if}
          {foreach $field['default'] as $ov => $ol }
            <input type="{$field['type']}" name="{$key}"
            {if isset($field['disabled']) AND $field['disabled']}disabled="disabled"{/if}
            value="{$ov}" {if(isset($item[$key]) && $item[$key] == $ol)}
            checked="checked" {/if}> {$ol}
          {/foreach}
          {if isset($field['notes']) AND $field['notes']}<p class="help-block">{$field['notes']}</p>{/if}
      </div>
    {/case}
    {case value="text1"}
      <div class="form-group">
        {if isset($field['label']) AND $field['label']}<label>{$field['label']}</label>{/if}
        <div class='input-group date'  {if isset($field['id']) AND $field['id']}id="{$field['id']}"{/if}>
        <input type="text"
        class="form-control {if isset($field['class']) AND $field['class']}{$field['class']}{/if}"
        {if isset($field['extra']['data']['format']) }data-format="{$field['extra']['data']['format']}"{/if}
        value="{if isset($item[$key])}{$item[$key]}{/if}"
        name="{$key}" >
                  <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
                  </span>
        </div>
      </div>
      </div>
    </div>
    {/case}
    {case value="file"}
      <div class="panel panel-default">
      {if isset($field['label']) AND $field['label']}<div class="panel-heading">{$field['label']}</div>{/if}
      <div class="panel-body">

        <div class="form-group">
          {if isset($field['exampleInputFile']) AND $field['exampleInputFile']}<label for="exampleInputFile">{$field['label']}</label>{/if}
        <input type="{$field['type']}"
          {if isset($field['id']) AND $field['id']}id="{$field['id']}"{/if}
          {if isset($field['disabled']) AND $field['disabled']}disabled="disabled"{/if}
          name="{$key}">

                    {if isset($item[$key]) AND $item[$key] != ""}
                        <a href="__UPLOADS__/{$item[$key]}" target="_blank"><img src="__UPLOADS__/{$item[$key]}" class="img-responsive img-thumbnail"></a>
                        <a href="{:url($data.module_url . 'delete_image/' . $item['id'])}" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i> Delete</a>
                    {/if}

                    {if isset($field['notes']) AND $field['notes']}<p class="help-block">{$field['notes']}</p>{/if}
                </div>
                </div>
            </div>

        {/case}
  {/switch}
{/foreach}
