
      <header class="blog-masthead">
        <nav class="blog-masthead navbar navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <span class="navbar-primary" href="#" id="title-left">信息安全重点实验室</span>
            </div>
            <div class="btn-group" id="admin-right">
              <a class="btn btn-primary" href="#"><i class="glyphicon glyphicon-user"></i> Admin</a>
              <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#"><i class="icon-pencil"></i> 个人中心</a></li>
                <li><a href="#"><i class="icon-trash"></i> 退出登陆</a></li>
              </ul>
            </div>

          </div>
        </nav>
      </header>

        <div class="container-fluid">
          <div class="row">
