<div class="col-sm-2 col-md-2 sidebar" id="left">
  <div class="panel-group" id="accordion2">
  <div class="panel-heading">
    <strong style="font-size: 28px;">信息安全实验室</strong>
  </div>
    <div class="panel panel-default">
      <div class="panel-heading" data-toggle="collapse"
        data-parent="#accordion2" href="#collapseOne">
        <a class="accordion-toggle">实验室概况</a>
      </div>
      <div id="collapseOne" class="panel-collapse collapse"
        style="height: 0px;">
        <div class="panel-body">
          <ul class="nav nav-pills nav-stacked">
            <li><a href="{:url('/admin/sys/index')}">实验室概况</a></li>
            <li><a href="{:url('/admin/sys/create')}">新建</a></li>
            <li><a href="{:url('/admin/sys/jianjie')}">实验室简介</a></li>
            <li><a href="{:url('/admin/sys/zhuzhi')}">组织架构</a></li>
            <li><a href="{:url('/admin/sys/lingdao')}">现任领导</a></li>
            <li><a href="{:url('/admin/sys/xueshu')}">学术委员会</a></li>
            <li><a href="{:url('/admin/sys/fangxiang')}">研究方向</a></li>
            <li><a href="{:url('/admin/sys/mianmao')}">实验室面貌</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" data-toggle="collapse"
        data-parent="#accordion2" href="#collapseTwo">
        <a class="accordion-toggle" >新闻中心</a>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse"
        style="height: 0px;">
        <div class="panel-body">
          <ul class="nav nav-pills nav-stacked">
            <li><a href="{:url('/admin/xwzx/index')}">新闻中心</a></li>
            <li><a href="{:url('/admin/xwzx/create')}">新建</a></li>
            <li><a href="{:url('/admin/xwzx/tpxw')}">图片新闻</a></li>
            <li><a href="{:url('/admin/xwzx/zhxw')}">综合新闻</a></li>
            <li><a href="{:url('/admin/xwzx/kytd')}">科研动态</a></li>
            <li><a href="{:url('/admin/xwzx/xshd')}">学术活动</a></li>
            <li><a href="{:url('/admin/xwzx/tzgg')}">通知公告</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" data-toggle="collapse"
        data-parent="#accordion2" href="#collapseThree">
        <a class="accordion-toggle">科研成果</a>
      </div>
      <div id="collapseThree" class="panel-collapse collapse"
        style="height: 0px;">
        <div class="panel-body">
          <ul class="nav nav-pills nav-stacked">
            <li><a href="#">科研概况</a></li>
            <li><a href="#">论文专著</a></li>
            <li><a href="#">软著专利标准</a></li>
            <li><a href="#">代表性成果</a></li>
            <li><a href="#">实验室评优获奖成果</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" data-toggle="collapse"
        data-parent="#accordion2" href="#collapseFour">
        <a class="accordion-toggle">人才队伍</a>
      </div>
      <div id="collapseFour" class="panel-collapse collapse"
        style="height: 0px;">
        <div class="panel-body">
          <ul class="nav nav-pills nav-stacked">
            <li><a href="#">队伍简介</a></li>
            <li><a href="#">正高级</a></li>
            <li><a href="#">副高级</a></li>
            <li><a href="#">中级</a></li>
            <li><a href="#">初级</a></li>
            <li><a href="#">博士后</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" data-toggle="collapse"
        data-parent="#accordion2" href="#collapseFive">
        <a class="accordion-toggle">开放交流</a>
      </div>
      <div id="collapseFive" class="panel-collapse collapse"
        style="height: 0px;">
        <div class="panel-body">
          <ul class="nav nav-pills nav-stacked">
            <li><a href="#">课题列表/奖学金</a></li>
            <li><a href="#">申请指南</a></li>
            <li><a href="#">副高级</a></li>
            <li><a href="#">管理制度</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" data-toggle="collapse"
        data-parent="#accordion2" href="#collapseSix">
        <a class="accordion-toggle">研究生教育</a>
      </div>
      <div id="collapseSix" class="panel-collapse collapse"
        style="height: 0px;">
        <div class="panel-body">
          <ul class="nav nav-pills nav-stacked">
            <li><a href="#">招生指南</a></li>
            <li><a href="#">研究生导师</a></li>
            <li><a href="#">在读研究生</a></li>
            <li><a href="#">毕业生</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" data-toggle="collapse"
        data-parent="#accordion2" href="#collapseSeven">
        <a class="accordion-toggle">创新文化</a>
      </div>
      <div id="collapseSeven" class="panel-collapse collapse"
        style="height: 0px;">
        <div class="panel-body">
          <ul class="nav nav-pills nav-stacked">
            <li><a href="#">实验室通讯</a></li>
            <li><a href="#">文化生活</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" data-toggle="collapse"
        data-parent="#accordion2" href="#collapseEight">
        <a class="accordion-toggle">联系我们</a>
      </div>
      <div id="collapseEight" class="panel-collapse collapse"
        style="height: 0px;">
        <div class="panel-body">
          <ul class="nav nav-pills nav-stacked">
            <li><a href="#">联系我们</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" data-toggle="collapse"
        data-parent="#accordion2" href="#collapseNine">
        <a class="accordion-toggle">用户管理</a>
      </div>
      <div id="collapseNine" class="panel-collapse collapse"
        style="height: 0px;">
        <div class="panel-body">
          <ul class="nav nav-pills nav-stacked">
            <li><a href="{:url('/admin/index')}">用户列表</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
