{layout name="layout" /}
<div class="centerwrap">
  <div class="center1000">
      <div class="leftwrap">
       	  <div class="lefttitle">新闻中心</div>
          <table width="100%" border="0" cellspacing="1" cellpadding="1" class="outline_leftmenu margin10">
						<tr>
							<td><a href="{:url('/xwzx/tpxw')}">图片新闻</a></td>
						</tr>

						<tr>
							<td><a href="{:url('/xwzx/zhxw')}">综合新闻</a></td>
						</tr>

						<tr>
							<td><a href="{:url('/xwzx/kydt')}">科研动态</a></td>
						</tr>

						<tr>
							<td><a href="{:url('/xwzx/xshd')}">学术活动</a></td>
						</tr>

						<tr>
							<td><a href="{:url('/xwzx/tzgg')}">通知公告</a></td>
						</tr>
            </table>
      </div>

      <div class="outline_r">
				<div class="path">您的当前位置:<a href="" class="CurrChnlCls">首页</a>&gt;&nbsp;<a href="../" class="CurrChnlCls">实验室面貌</a></div>
      	  <div class="news_title margin10">实验室面貌</div>
          <ul class="news_list margin20">
						{if($mianmao)}
							{foreach $mianmao as $item)}
              <li><span>{$item->create_time}</span><a href="{:url('/read/'.$item->id)}">{$item->post_title}</a></li>
							{/foreach}
						{/if}
          </ul>
          <!-- <div class="page margin10" style="font-size:12px;">共2页&nbsp;&nbsp;<span id='pagenav_0' style="color:#FF0000;padding-left:7px;padding-right:7px; font-size:12px;">1</span><a id='pagenav_1' class="" style="padding-left:7px;padding-right:7px; font-size:12px;"target='_self' href='index_1.html'>2</a><a id='pagenav_1' class="" style="padding-left:7px;padding-right:7px; font-size:12px;"target='_self' href='index_1.html'>下一页</a><a id='pagenav_tail' class="" style="padding-left:7px;padding-right:7px; font-size:12px;"target='_self' href='index_1.html'>尾页</a> </div> -->
      </div>

        <div class="clear"></div>
    </div>
</div>
<div class="bottomwrap">
	<table width="1000" border="0" cellspacing="1" cellpadding="1" style="margin:0 auto;">
      <tr>
        <td width="300" align="center"><a href="http://www.cas.cn" target="_blank"><img src="http://www.sklois.cn/images/caslogo.jpg" width="243" height="74" /></a></td>
        <td width="30" align="center"><img src="http://www.sklois.cn/images/bottomline.gif" /></td>
        <td class="copyright"><span style="font-family:Arial">&copy;</span>中国科学院信息工程研究所信息安全国家重点实验室 备案序号：京ICP备12047326号 <br />
          电话：010-82546611 传真：010-82546564<br />
        地址：北京市海淀区闵庄路甲89号 100093 </td>
      </tr>
    </table>

</div>
</body>
</html>
